@font-face {
    font-family: 'ThinkBold';
    src: url('/public/font/ThinkBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.Register_Container{ 
    position: relative;
    display: inline-block;
}
.RegisterImage{
    display: block;
    width: 100%;
}
.MainImage_Vector{
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}